.card{
    height: 240px;
    width: 180px;
    background-color: #adb5bd;
    display: grid;
    grid-template-columns: 1fr 70px;
    grid-template-rows: 25px 1fr 25px 40px;

    grid-template-areas: 
    "name name"
    "image image"
    "price price"
    "count count";

}
.card > div{
    border: 1px solid #6c757d;
}
.name{
    grid-area: name;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.price{
    grid-area: price;
    display: flex;
    justify-content: center;
    align-items: center;  
}



.count{
    grid-area: count;
    display: flex;
    justify-content: center;
    align-items: center;
}

